// fonts
$font-light: "Arial";

// colors
$primary-color: #000000;
$menu-border: #e0dddd;
$menu-item-color: #989696;

// grid
$desktopHd-min: 1440px;
$container-desktopHd: 1240px;
$desktop-min: 1024px;
$container-desktop: 960px;
$tablet-min: 768px;
$container-tablet: 688px;
$tabletS-min: 480px;
$mobile-min: 320px;
